* {
box-sizing: border-box;
}

.nav-bar { 
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
}
    
.nav-bar ul li {
    list-style: none;
    display: inline-block; 
    background-color: #333;
    overflow: hidden;
}

.nav-bar ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 20px;
        front-family: sans-serif;
        letter-spacing: 2px;

}

.nav-bar a:hover {
background-color:  #ddd;
color: black;
}


.header-image{
    background-image: url("./images/header-image.jpg");
    height: 520px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;  
    display: flex;
}

.header-text{
    text-align: center;
    position: absolute;
    width: 100%; 
    height: auto;
    margin-top: 180px;
}

h1 {
font-size: 3em;
color: white;
font-family: Arial, Helvetica, sans-serif
}

h2 { 
    margin-top: 55px;
    font-color:#333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font size: 1em; 
    text-aligned: center; 
    font-weight: 400; 
}

@media only screen and (max-width: 992px){
    .header-image{ 
        margin-top: 100px;
    }
}

@media only screen and (max-width: 768px) { 
    .header-text{
        width: 100%;
    }
    h1{
        font-size: 5em;
    }
    h2 {
        font-sizer: 1.5em;
  
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 0; 

#contact-me {
    background-color: black;
    padding: 50px;
    width: 100%;
    position: relative;
    display: flex;
    text-align: center;
}

.contact-info {
    justify-content: space-between;
    align-items: center;
}
    
.contact-info ul {
    padding: 0; 
    list-style: center;
    text-align: center;
}
.contact-info ul li {
    font size: 20px;
    flex: 0 0 100px;
    background-color: #333;
    float: right;
    
}

.contact-info ul li a {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 20px;
        front-family: sans-serif;
        letter-spacing: 2px;

    ;
}

.contact-info a:hover {
background-color:  #ddd;
color: black;
}

.projects{
    flex-grow: 4;
    flex-shrink:1; 
    flex-basis: 0%; 
    padding: 20px;
    display: flex;
    flex-direction: row; 
    align-content: normal; 
    justify-content: center;
    align-items: normal;
    flex-wrap: wrap; 
    font-family: Arial, Helvetica, sans-serif;
}

.project-type header {
    padding: 20px; 
}

.project-type img {
    width: 100%;
}


  @media screen and (max-width: 992px) {
    .projects {
      width: 50%;
    }
    header {
      background: black;
    }
  }
  
  @media screen and (max-width: 768px) {
    .projects {
      width: 100%;
    }
    header {
      background: black;
    }

    @media screen and (max-width: 768px) {
        main,
        nav {
          flex-direction: column;
        }

footer {
    padding: 20px;
    text-align: center;
    background:black;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

label, input {
        width: 100px;
}
